*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	display: grid;
	place-items: center;
}

header {
	display: flex;
	align-items: center;
	gap: 5em;
	padding-block: 3em;
}

h1 {
	text-align: center;
}

.title-ctn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Style the canvas on screen*/
#underMap {
	display: none;
}

#imgWrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loadImg {
	animation: linear infinite;
	animation-duration: 4s;
	animation-name: rotate;
}

#hideLoad {
	display: none;
}

@keyframes rotate {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

.form-ctn {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.8em;
	min-width: 400px;
	padding-inline: 0.2em;
	z-index: 5;
}

.predicative-search {
	position: relative;
}

.predicative-background,
.predicative-field {
	border: none;
	outline: none;
	height: 100%;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	padding: 0.75em 0.9em;
}

.predicative-background {
	position: absolute;
	color: #999999;
}

.predicative-field {
	position: relative;
	background: transparent;
	border: 1px solid black;
	border-radius: 0.2em;
}

.predicative-field:focus {
	box-shadow: 0 0 0 2px #84bb46;
}

.searchError {
	position: absolute;
	top: 0;
	background: red;
	color: white;
}

.searchError-hidden {
	display: none;
}

.search-btn,
button {
	font-family: inherit;
	border: 1px solid black;
	border-radius: 0.2em;
	background-color: transparent;
	padding-block: 0.7em;
	cursor: pointer;
	font-size: 1.1rem;
	margin-block-start: 1em;
}

.search-btn:hover,
button:hover {
	background-color: #84bb46;
}

.search-btn:active,
button:active {
	background-color: black;
	color: white;
}

.search-btn:focus,
button:focus {
	box-shadow: 0 0 0 2px #84bb46;
	outline: none;
}

#accessibility {
	display: flex;
	align-items: center;
}

#accesibilityToggle {
	appearance: none;
	position: relative;
	height: 100%;
	width: 25px;
}

#accesibilityToggle:focus {
	outline: none;
}

#accesibilityToggle:focus + .accessibilityToggle::before {
	box-shadow: 0 0 0 2px #84bb46;
}

.accessibilityToggle {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.accessibilityToggle::before {
	content: '';
	position: absolute;
	left: -30px;
	height: 100%;
	width: 25px;
	border: 2px solid black;
	border-radius: 0.2em;
}

.accessibilityToggle::after {
	content: '';
	opacity: 0;
	position: absolute;
	left: -26px;
	height: 65%;
	width: 17px;
	border-radius: 0.2em;
	background-color: black;
}

#accesibilityToggle:checked + .accessibilityToggle::after {
	opacity: 1;
}

.btn-ctn {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

button {
	padding-block: 0.2em;
	display: grid;
	place-items: center;
	border: none;
	margin: 0.2em;
}

.form-toggle {
	display: none;
}

/* TABLET / MOBILE VERSION */
@media (max-width: 700px) {
	header {
		flex-direction: column;
		width: 100%;
		padding-block: 0;
		gap: 2em;
	}

	h1 {
		font-size: 1.5rem;
	}

	.search {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-block-start: 2em;
		overflow: hidden;
		transition: transform 200ms ease-out;
	}

	.form-ctn,
	.title-ctn {
		min-width: 200px;
		width: 100%;
		padding: 0;
	}

	.title-ctn {
		margin-block-end: 2em;
		flex-direction: row-reverse;
	}

	.form-ctn {
		background-color: lightgrey;
		padding: 1em;
		padding-block-end: 3.5em;
	}

	.hide {
		visibility: hidden;
		z-index: -1;
	}

	.form-toggle {
		display: block;
		position: relative;
		width: 100px;
		height: 2em;
		background-color: lightgrey;
		transform: translate(-50%, 50%);
		left: 50%;
		border-radius: 5px;
		cursor: pointer;
		transition: transform 200ms ease;
		box-shadow: -1px -1px 2px #5e5e5e;
	}

	.form-toggle::before {
		content: '';
		position: absolute;
		width: 50px;
		height: 5px;
		background-color: #5e5e5e;
		transform: translate(-50%, 50%);
		left: 50%;
		border-radius: 2px;
		top: 10px;
		cursor: pointer;
		transition: transform 200ms ease;
	}

	.closed {
		transform: translateY(250px);
	}

	.closed > .form-ctn::before {
		content: url("data:image/svg+xml,%3Csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='ARROW' d='M45.4531 19.4865L0.304259 19.4865M45.4531 19.4865L27.9188 1.95215M45.4531 19.4865L27.9188 37.0209' stroke='black' stroke-width='3' stroke-linejoin='round'/%3E%3C/svg%3E");
		z-index: 4;
		position: absolute;
		top: 0px;
		width: 50px;
		left: 50%;
		transform: translate(-50%, 15%) rotate(90deg);
		animation: ease-in-out infinite;
		animation-name: bob;
		animation-duration: 1s;
	}

	.closed > .form-ctn.boop::before {
		content: '';
		visibility: visible;
		z-index: 0;
	}

	@media (prefers-reduced-motion) {
		*,
		*::before,
		*::after {
			animation: none;
		}
	}

	@keyframes bob {
		0% {
			transform: translate(-50%, 15%) rotate(90deg);
		}
		50% {
			transform: translate(-50%, 4%) rotate(90deg);
		}
		100% {
			transform: translate(-50%, 15%) rotate(90deg);
		}
	}

	.closed > .form-ctn::after {
		content: 'Find your way around RVCC';
		width: 100%;
		position: absolute;
		height: 100%;
		text-align: center;
		left: 0;
		z-index: 3;
		background-color: #84bb46;
	}

	.closed > .form-ctn {
		background-color: #84bb46;
	}

	.closed > .form-toggle {
		background-color: #84bb46;
	}

	.btn-ctn {
		position: absolute;
		bottom: 0;
		padding: 0.2em;
	}

	#icon {
		width: 100px;
	}

	.img {
		width: 100px;
	}
}
