/* Style the canvas on screen*/
canvas {}

#underMap {
    display: none;
}

#loadImg {
    animation: linear infinite;
    animation-duration: 4s;
    animation-name: rotate;

    justify-self: center;
    align-self: center;
}

#hideLoad {
    display: none;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}